@import "variables";

// Button
%btn-shared {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s ease-in;
  text-decoration: none;
  border: none;
  font-weight: $weight-medium;
  font-size: $font-small;
}

.btn {
  @extend %btn-shared;

  &-primary {
    background: $primary-color;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }

  &-secondary {
    border-radius: 30px;
    background: $secondary-color;
    color: #fff;
    font-size: $font-small;
    padding: 0.6rem 1.7rem;
  }

  &-light {
    background: initial;
    color: $text-primary-color;
    opacity: 0.8;
    border: $border-primary;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -2px,
        rgba(0, 0, 0, 0.3) 0px 2px 5px -3px;
    }
  }
}

// Section
section {
  padding: 0 2rem;
}

// Horizontal rule
.underline {
  width: 100%;
  border-bottom: $border-primary;
}

// Flex Align
%flex-align {
  display: flex;
  align-items: center;
}

// Heading text
%heading-one {
  font-size: $font-xlarge;
  letter-spacing: -0.15rem;
  line-height: 1.2;
  color: $text-secondary-color;
  margin-bottom: 1rem;
}

%heading-two {
  font-size: $font-large;
  text-align: center;
  font-weight: $weight-small;
  line-height: 2.5rem;
  color: $text-primary-color-2;
  padding: 0 2.5rem;
}

.heading-two {
  margin-bottom: 2.5rem;
}

// Grid card
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// Card one
.card-container-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  max-width: 1000px;
  margin: 0 auto 4rem;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.2rem;
      color: $text-primary-color-2;
      font-weight: 600;
    }
  }
}

// Card two
.card-container-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  padding: 2rem 0 3rem;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    h2 {
      font-size: 2.2rem;
      color: $text-primary-color-2;
      margin-bottom: 0.6rem;
    }

    p {
      font-size: $font-small;
    }
  }

  img {
    width: 100%;
    width: calc(100% + 40px);
  }
}
