@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

$font-primary: "Inter", sans-serif;
$font-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
