@import "utilities";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  background: $bg-secondary;
  color: $text-primary-color;
  line-height: 1.5;
  max-width: 1400px;
  margin: 0 auto;
  letter-spacing: -0.03rem;
}

.white {
  color: white;
}

img {
  width: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-secondary-color;
}

// Container
#container {
  display: grid;
  grid-template-columns: 1.06fr 6fr;
  overflow-y: hidden;
  background: #fff;

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $bg-secondary;
    border-right: $border-primary;
    padding: 1rem;
    height: 100vh;
  }

  .main-container {
    height: 100vh;
    overflow-y: scroll;
  }
}

// Header
#logo {
  font-size: 1.6rem;

  a {
    @extend %flex-align;
    letter-spacing: $spacing-primary;
    font-weight: 700;

    img {
      margin-right: 0.2rem;
      width: 25px;
      height: 25px;
      transform: translateY(-3px);
    }
  }
}

// Flex start
.flex-start {
  .fmenu {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
  }

  // Button
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1rem;
    margin: 1.4rem 0 0.8rem;

    img {
      width: 24px;
      height: 24px;
      margin-right: 0.7rem;
    }
  }
}

// Icons
.header-icons {
  display: flex;
  font-weight: $weight-xsmall;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;

  &:hover {
    background: $bg-primary;
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    margin-left: 0.2rem;
  }
}

// Flex end
.flex-end {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin-bottom: 0.5rem;

    &:last-child {
      img {
        width: 48px;
        height: 48px;
        border: 1px solid #fff;
        border-radius: 50%;
        box-shadow: $shadow-one;
      }
    }

    img {
      width: 35px;
      height: 35px;
    }
  }
}

// Main container
.main-container {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2.5rem;
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: $border-primary;
    margin-bottom: 0.2rem;
    background: #fff;
    z-index: 10;

    h2 {
      font-size: $font-small;
      color: $text-other;
      font-weight: 600;
      letter-spacing: -0.03rem;
    }
  }
}

.buttons {
  display: flex;

  .btn {
    margin-left: 0.5rem;
  }
}

.container {
  .hero {
    .highlight-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $bg-other-color;
      border-radius: 40px;
      font-weight: $weight-small;

      p {
        margin: 0 auto;

        a {
          color: $primary-color;
        }
      }
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 6rem 0;
      text-align: center;

      h1 {
        @extend %heading-one;
        max-width: 900px;
        margin: 0 auto 1rem;
      }

      p {
        font-size: 1.3rem;
        max-width: 400px;
        margin-bottom: 2rem;
        color: $text-other-color;
      }
    }
  }
}

// Spotlight Users
article {
  max-width: 800px;
  margin: 4rem auto;

  .bio-container {
    display: flex;
    justify-content: space-around;
    border: $border-primary;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px;
    border-radius: 7px;
    padding: 2rem;
  }

  img {
    width: 8rem;
    height: 8rem;
    border: $border-primary;
    border-radius: 7px;
    margin-right: 1.5rem;
  }

  .bio {
    h3 {
      color: $text-primary-color-2;
      font-weight: $weight-small;
      max-width: 550px;
      font-size: 1.25rem;
    }

    div {
      margin-top: 1rem;

      p {
        font-weight: $weight-thin;
        color: $text-other;
        font-size: 1.08rem;
      }
    }
  }
}

// Section two
.section-two {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @extend %heading-two;
  }

  .card-container {
    padding-bottom: 2rem;

    .card {
      padding: 2rem;
    }
  }

  .card-container-three {
    > div {
      display: flex;
      flex-direction: column;
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      padding: 1.5rem 3rem;

      &:nth-child(2) {
        border: $border-primary;
        border-radius: 7px;
      }

      img {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
      }

      div {
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 1.5rem;
          color: $text-other-2;
          font-weight: $weight-small;
          padding-bottom: 0.3rem;
          line-height: 2rem;
        }

        p {
          padding-bottom: 0.3rem;
          color: $text-other;
        }
      }
    }
  }
}

// Features
.features {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.25rem;
    color: $text-primary-color-2;
    margin-bottom: 2rem;
    font-weight: $weight-small;
  }

  .card-container {
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: $border-primary;
      padding: 2rem;

      img {
        width: 60px;
      }

      h3 {
        padding: 1.5rem 0 0.5rem;
        font-size: 1.5rem;
        font-weight: $weight-small;
        color: $text-other-2;
        line-height: 2rem;
        padding: 1rem;
      }
    }
  }
}
